<!--
  About Me Legacy
-->
<section id="aboutme" class="mt-100">
  <div class="container">
    <div class="row mt-100">
      <div class="col s12 m12 l6 center ">
        <img loading="lazy" src="images/5030814d-a2c5-4640-a408-b3be56572597-removebg-preview.png"
          class="hide-on-med-only responsive-img about-img" alt="bernardo-img">
      </div>
      <div class="col s12 m12 l6 center">
        <img loading="lazy" src="images/5030814d-a2c5-4640-a408-b3be56572597-removebg-preview.png"
          class="hide-on-small-only hide-on-large-only responsive-img about-img-medium" alt="bernardo-img">
      </div>
      <div class="col s12 m12 l6 l1offset-m1 font2">
        <h4 class="mt-0 font-inter-black ">About</h4>
        <p class="font2 ">
          I am a software developer and multidisciplinary designer,
          currently working at <a href="https://www.lohoff.com/acapif/lohoff/01_index.prt"
            target="_blank">Lohoff</a>, supervising the design of a vast portfolio of clients, including
          <a href="https://www.bmw.com/en/index.html" target="_blank">BMW</a>,
          <a href="https://www.thyssenkrupp.com/en/home" target="_blank">Thyssenkrupp</a>,
          <a href="https://www.mini.com/en_MS/home.html" target="_blank">Mini</a>, and
          <a href="https://www.rolls-roycemotorcars.com/en_GB/home.html" target="_blank">Rolls Royce</a>.
        </p>
        <p class="font2 ">
          I firmly believe that some of the most simple design solutions can be the most effective, and exceptional design
          doesn’t have to be visually convoluted. My inspiration relies on the freedom of endless possibilities, and my passion about designing and developing products with a touch of simplicity and originality.
        </p>
        <p class="">
          Born and raised in Rio de Janeiro, I moved to Germany in 2002, where I specialized as a Hotel Industry
          Expert at <a href="https://group.accor.com/en" target="_blank">Accor</a>. After ten years of professional
          experience in event management and sales, working for companies like
          <a href="https://www.massimodutti.com/de" target="_blank">Massimo Dutti</a> and
          <a href="https://www2.hm.com/de_de/index.html" target="_blank">Hennes & Mauritz</a>, I graduated from the
          <a href="https://www.ironhack.com/en" target="_blank">Ironhack Tech School</a> as a Fullstack Developer,
          subsequently starting my career in Tech.
        </p>
        <p class="font2 mb-100 ">
          As a self-taught designer, I spend time learning new skills;
          Currently, I am exploring the world of user experience design and blockchain from different angles.
        </p>
        <!-- <a href="./images/BFT CV (3) (1).pdf" class="resume-link">My resume (pdf 45kb)</a> -->
      </div>
    </div>
  </div>
</section>
<!--
  About Me Legacy
-->